@font-face{
  font-family:Lato-Bold ;
  src: url(../fonts/Lato/Lato-Bold.ttf);
}
@font-face{
  font-family:Lato-Regular ;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face{
  font-family:Roboto-Medium ;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face{
  font-family:Roboto-Regular ;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
/*common start*/
body{
  font-family: Roboto-Regular;
  font-size: 16px;
  font-weight: 400;
  color: #8e8e8e;
}
/*common end*/
/*header start*/
header{
padding: 20px 0;
}
.c_nav{}
.logo h1{
   font-family:Lato-Bold ;
   font-size: 30px;
   font-weight: 500;
   color: #333333;
}
.menu ul li a{
   font-family:Lato-Regular ;
   font-size: 16px;
   font-weight: 400;
   color: #8e8e8e !important;
   padding: 0 15px !important;
}
.menu ul li a:hover {
  color: #333333 !important;
}
.search{}
.s_a{
  color: #8e8e8e;
  border: none;
}
.s_a:hover{
  color: #333333;
}
.s_a::after{
  display: none;
}

.ddm_s {
    width: 400px;
    padding:10px 5px;
    margin: 0;
    border: 1px solid #8e8e8e;
    border-radius:0;
}
.ddm_s[data-bs-popper] {
    top: 80px;
    left: -360px;
    margin-top: 0;
}
.s_input{
  font-family:Lato-Regular ;
  border: none;

}
.s_input:focus{
  box-shadow: none;
}
.s_btn{
  border: none;
  padding: 5px 0;
}
/*header end*/
/* slider start */
.slider{
background-image: url('../image/banner.png');
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
position: relative;
}
.c_car_s{
}
.s_item{
padding: 200px 0;
}
.s_item h1{
font-family: Lato-Bold;
font-size: 60px;
color: #ffffff;
}
.s_item p {
margin: 40px 94px 40px 0;
color: #ffffff;
}
.s_item i{
  font-size: 20px;
}
.cm_btn {
    font-family:Roboto-Medium ;
    background-color: #ffffff;
    color: #8e8e8e;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 30px;
    border: none;
    border-radius: 0;
}
.cm_btn:hover{
  background-color: #ffffff;
  color: #333333;
}
.cm_btn i{
  width: 16px;
  margin-left: 20px;
}
.c_prev{
top: 90%;
width: auto;
color:#8e8e8e;
font-family: Roboto-Bold !important;
font-weight: 700 !important;
opacity: 1;
z-index: 999999;
left: 14px;
transition: .3s;
}
.c_prev:hover{
color: #333333;
}
.c_next{
top: 90%;
width: auto;
color:#8e8e8e;
font-family: Roboto-Bold !important;
font-weight: 700 !important;
opacity: 1;
z-index: 999999;
right: 1190px;
transition: .3s;
}
.c_next:hover{
color: #333333;
}
.slider_indicators{
top: 92%;
left: 60px;
margin-left: 0;
display: inline-table;
}
.slider_indicators [data-bs-target] {
height: 18px;
width: 2px;
background-color: #333333;
}
/* slider end */
/*wellcome start*/
.welcome{
  padding-bottom: 100px;
}
.line{
  width: 2px;
  height: 50px;
  background-color: #333333;
  margin-bottom: 30px !important;
}
.w_content{}
.w_content h2{
  font-family: Lato-Regular ;
  font-size: 30px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}
.w_content p{
  padding: 40px 80px;
}
.w_item{
  padding: 40px 0px;
  border: 1px solid #ccc;
  margin:60px 10px 0;
}
.w_item:hover{
  border: 1px solid #333;
  cursor: pointer;
}
.w_item:hover .w_icon{
  color: #333;
}
.w_item:hover .w_btn{
  color: #333;
}
.w_line1{
  width: 60px;
  height: 10px;
  background-color: white;
  margin: -45px auto 0;
}
.w_icon{
  font-size: 40px;
  margin-top: -30px;
}
.w_item h3{
  font-family: Lato-Bold ;
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  padding-top: 24px;
}
.w_line{
  width: 50px;
  height: 1px;
  background-color: #8e8e8e;
  margin: 20px auto !important;
}
.w_item p{
  margin-bottom: 40px !important;
  padding: 0px 10px;
}
.w_item .w_btn{
  background-color: #fff;
  color: #8e8e8e;;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
}
.w_btn i{
  margin-left: 16px;
}
/*wellcome end*/
/*about start*/
.about{
  padding-bottom: 100px;
}
.a_image img{
  width: 100%;
}
.a_content{
  padding-left: 65px;
}
.a_content h2{
  font-family: Lato-Regular;
  font-size: 30px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}
.a_content p{
  padding-top: 40px !important;
}
.a_btn{
  font-family:Roboto-Medium !important;
  background-color: #fff;
  color: #333333;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 30px;
  border: 1px solid #333333;
  margin-top: 40px !important;
}
.a_btn i{
  margin-left: 16px;
}
/*about end*/
/*recent work start*/
.r_work{
  padding-bottom: 100px;
  background-color: #f8f8f8;
}
.gallery ul{
  margin-top: 50px;
  margin-left: 400px;
}
.gallery ul li button{
  font-family:Roboto-Regular !important;
  color: #8e8e8e;
  text-transform: uppercase;
}
.gallery ul li button:hover{
  color: #333333;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #333;
    background-color: #f8f8f8;
    border: 1px solid #333333;
    border-radius: 0px;
}
.g-image img{
  width: 97%;
  margin-top: 40px;
  transition: .8s;
}
.g-image img:hover{
  transform: scale(.8);
}
/*recent work end*/
/*choose start*/
.choose{
  padding-bottom: 100px;
}
.choose .w_content{
  margin-bottom: 80px;
}
.b-content{
  margin: 20px 15px 0px;
  border-bottom: 1px solid #cccccc;
}
.b-content:hover{
  border-bottom: 1px solid #333333;
  cursor: pointer;
}
.b-content:hover .c_icon{
  color: #333333;
}
.c_icon{
  display: flex;
  align-items: center;
}
.b-content i {
    font-size: 48px;
}
.b-content h4{
  font-family:Lato-Bold ;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 20px;
}
.b-content p{
  margin: 40px 0px !important;
}
/*choose end*/
/*team start*/
.team{
  padding-bottom: 100px;
  background-image: url('../image/who_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.team .w_content{
  margin-bottom: 60px;
}
.t_member{
  position: relative;
  margin-top: 40px;
  margin-right: 10px;
}
.t_member:hover{
  cursor: pointer;
}
.t_member:hover .t_link{
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}
.t_member img{
  width: 100%;
}
.t_info{
  background: white;
  padding: 5px 20px;
}
.t_info h4{
  font-family:Lato-Bold ;
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  margin-top: 10px;
}
.t_info p{
  margin: 15px 0px !important;
}
.t_link{
  position: absolute;
  top: 50px;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
.t_icon{
  background: white;
  text-align: center;
  padding: 7px;
}
.t_icon a i{
  color: #8e8e8e;
  margin: 5px 0px;
  font-size: 18px;
}
.t_icon a i:hover{
  color: #333333;
}
/*team  end*/
/*pricing start*/
.price{
  padding-bottom: 100px;
}
.price .w_content{
  margin-bottom: 70px;
}
.p_item{
  border: 1px solid #cccccc;
  padding: 40px;
  margin-top: 30px;
  transition: 0.5s;
}
.p_item:hover{
  border-color: #333333;
  cursor: pointer;
  transition: 0.5s;
}
.p_item:hover .p_btn{
  color: #333333;
  background-color: #f8f8f8;
  border-color: #333;
  transition: 0.5s;
}
.p_line1{
  height: 10px;
  width: 66px;
  background-color: white;
  margin-top: -45px;
  margin-left: -6px;
}
.p_line2{
  height: 10px;
  width: 110px;
  background-color: white;
  margin-top: -45px;
  margin-left: -6px;
}
.p_line3{
  height: 10px;
  width: 118px;
  background-color: white;
  margin-top: -45px;
  margin-left: -6px;
}
.p_line4{
  height: 10px;
  width: 104px;
  background-color: white;
  margin-top: -45px;
  margin-left: -6px;
}
.p_title h4{
  font-family:Lato-Bold ;
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  margin-top: -16px;
}
.cost{
  font-size: 36px;
  color: #333333;
  margin: 20px 0px !important;
}
.cost span{
  font-size: 16px;
  color: #8e8e8e;
}
.p_info{
  line-height: 35px;
}
.p_item .p_btn{
  font-family:Roboto-Medium ;
  background-color: #ffffff;
  color: #8e8e8e;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px 60px;
  margin-top: 35px;
  border: 1px solid #8e8e8e;
  transition: 0.5s;
}
.p_btn i{
  margin-left: 16px;
}
/*pricing end*/

/*devider start*/
.devide{
  background-color: #f8f8f8;
  padding: 25px 0px;
}
.d_content{
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}
.d_content h4{
  font-family:Lato-Regular ;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}
.d_content .d_btn{
  font-family:Roboto-Medium ;
  background-color: #f8f8f8;
  color: #333333;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 35px;
  border: 1px solid #333333;
}
.d_btn i{
  margin-left: 16px;
}
/*devider end*/

/* testimonial start */
.testimonial-section {
    padding: 80px 0;
}
.testimonial{
padding: 40px 30px;
border: 1px solid #8e8e8e;
}
.control-btns {
padding: 40px 30px;
border: 1px solid #8e8e8e;
}
.testimonial-right h4,
h5 {
font-weight: 400;
font-size: 18px;
color: #333333;
}
.testimonial-right h3{
  font-family:Lato-Bold ;
  text-transform: uppercase;
  color: #333333;
}
.testimonial-right h5 {
color: #333333;
}
.t-control {
height: 100%;
border: 1px solid #8e8e8e;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: #F8F8F8;
}
.middle-p{
margin: 15px 15px 25px 0;
color: #8e8e8e;
}
.t-next {
position: static;
display: block;
transform: rotate(90deg);
margin: 40px 30px;
text-align: center;
}
.t-prev{
position: static;
display: block;
transform: rotate(90deg);
margin: 40px 30px;
text-align: center;
}
.t-next-icon {
color: #8e8e8e;
transition: .3s;
}
.t-prev-icon{
color: #8e8e8e;
transition: .3s;
}
.t-prev-icon:hover,
.t-next-icon:hover {
color: #333333;
}
.t-indicator {
margin: 100% 20px 20%;
position: static;
flex-direction: column;
}
.t-indicator [data-bs-target] {
margin-top: -10px;
width: 25px;
background-color: #8e8e8e;
opacity: 1;
}
.t-indicator .active {
width: 30px;
background-color: black;
}
/* testimonial end */

/*contact start*/
.contact{
  padding-bottom: 100px;
}
.c_box{
  position: relative;
  border: 1px solid #cccccc;
  padding: 60px 0px;
}
.box_content .a_btn{
  padding: 10px 35px;
}
.box_content h2{
  position: absolute;
  font-family:Lato-Regular ;
  font-size: 30px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.c_line{
  height: 10px;
  width: 206px;
  background-color: #ffffff;
  display: inline-block;
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}
.fc{
  font-family:Roboto-Regular ;
  border: none;
  border-bottom: 1px solid #cccccc;
  border-radius: 0px;
  padding: 6px 28px;
}
.fc:focus{
  color: #333333;
  border-color: #333333;
  box-shadow: none;
}
.fc:focus::placeholder{
  color: #333333;

}
.fc::placeholder{
  font-family:Roboto-Regular ;
  font-size: 16px;
  color: #8e8e8e;
  text-transform: capitalize;
}
/*contact end*/


/*footer start*/
footer{
  width: 100%;
  background-image: url('../image/footer.bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.f_top{
  border-bottom: 1px solid #ffffff;
  margin-bottom: 30px;
  padding-bottom: 100px;
}
.f_content{}
.f_line{
  width: 1px;
  height: 35px;
  background-color: #333333;
  display: inline-block;
  text-align: center;
}
.f_content h2{
  font-family:Lato-Regular ;
  font-size: 30px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}
.f_content p{
  color: #ffffff;
  /*margin: 0 141px 40px;*/
  padding: 40px 130px;
}
.f_icon a{}
.f_icon a i{
  height: 50px;
  width: 50px;
  color: white;
  font-size: 26px;
  background-color: transparent;
  text-align: center;
  line-height: 50px;
  border: 1px solid #ffffff;
  transition: 0.5s;
  margin: 0px 5px;
}
.f_icon a i:hover{
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
  transition: 0.5s;
}
.f_bottom{}
.f_bottom p{
  color: #ffffff;
}
.f_list ul li{
  color: #ffffff;
  margin: 0 20px;
}
.f_list ul li:last-child{
  margin-right: 0px;
}
/*footer end*/